<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Analysis</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">  
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>

        .axis .domain {
          display: none;
        }

        </style>

        <script type="text/javascript">
			var data=[
				{"RecordId":"1","BookId":"45921763","BookName":"A companion to American indie film","Publisher":"Xinhua","Author":"Karen","Classificaiton":"Film","StoreName":"SongYan","SaleStatus":"No this Book"},
				{"RecordId":"2","BookId":"51442190","BookName":"Macbeth","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"C1","SaleStatus":"Replenishment"},
				{"RecordId":"3","BookId":"95432780","BookName":"King Lear","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"A2","SaleStatus":"On Sales"},
				{"RecordId":"4","BookId":"10000001","BookName":"Romeo and Juliet","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"D3","SaleStatus":"On Sales"},
				{"RecordId":"5","BookId":"35793516","BookName":"Hamlet","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"C4","SaleStatus":"Reservation"},
				{"RecordId":"6","BookId":"15479376","BookName":"Othello","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"B5","SaleStatus":"Replenishment"},
				{"RecordId":"7","BookId":"15479376","BookName":"Othello","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"A2","SaleStatus":"Replenishment"},
				{"RecordId":"8","BookId":"15479376","BookName":"Othello","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"C2","SaleStatus":"Replenishment"},
				{"RecordId":"9","BookId":"15479376","BookName":"Othello","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"D2","SaleStatus":"Replenishment"},
				{"RecordId":"10","BookId":"15479376","BookName":"Othello","Publisher":"Xinhua","Author":"Shakespeare","Classificaiton":"literature","StoreName":"SongYan","Shelf":"A1","SaleStatus":"Replenishment"}

			];
			var statusNum=["On Sales","Replenishment","Reservation","No this Book"];

			onload = function(){
			var body=document.getElementById('RecordForm');
			body.appendChild(createTable(data));
			};

			var createTable = function(data){


			var table=document.createElement('table');
			table.setAttribute("class","table table-hover");
			
			var thead=document.createElement('thead');
			table.appendChild(thead);
			thead.appendChild(createTh('Book ID','Book name','Publisher','Author','Classificaiton','Store name','Bookshelf','Stock'));
			
			
			var tbody=document.createElement('tbody');
			table.appendChild(tbody);
			for(var i=0;i<data.length;i++){
				var  status = document.getElementById("searchStatus").value; 
				if (status == 0) tbody.appendChild(createTr(data[i].BookId,data[i].BookName,data[i].Publisher,data[i].Author,data[i].Classificaiton,data[i].StoreName,data[i].Shelf,data[i].SaleStatus));
				if (statusNum[status-1] == data[i].SaleStatus) 
					tbody.appendChild(createTr(data[i].BookId,data[i].BookName,data[i].Publisher,data[i].Author,data[i].Classificaiton,data[i].StoreName,data[i].Shelf,data[i].SaleStatus));
			}
			return table;
			};


			
			var createTr = function(t1,t2,t3,t4,t5,t6,t7,t8){
			var tr=document.createElement('tr');
			var td1=document.createElement('td');
			td1.innerHTML = t1;
			var td2 = document.createElement('td');
			td2.innerHTML = t2;
			var td3 = document.createElement('td');
			td3.innerHTML = t3;
			var td4=document.createElement('td')
			td4.innerHTML = t4;
			var td5 = document.createElement('td');
			td5.innerHTML = t5;
			var td6 = document.createElement('td');
			td6.innerHTML = t6;
			var td7 = document.createElement('td');
			td7.innerHTML = t7;
			var td8 = document.createElement('td');
			td8.innerHTML = t8;
			tr.appendChild(td1);
			tr.appendChild(td2);
			tr.appendChild(td3);
			tr.appendChild(td4);
			tr.appendChild(td5);
			tr.appendChild(td6);
			tr.appendChild(td7);
			tr.appendChild(td8);
			return tr;
			};

			var createTh = function(t1,t2,t3,t4,t5,t6,t7,t8){
			var th=document.createElement('tr');
			var td1=document.createElement('th');
			td1.innerHTML = t1;
			var td2 = document.createElement('th');
			td2.innerHTML = t2;
			var td3 = document.createElement('th');
			td3.innerHTML = t3;
			var td4=document.createElement('th')
			td4.innerHTML = t4;
			var td5 = document.createElement('th');
			td5.innerHTML = t5;
			var td6 = document.createElement('th');
			td6.innerHTML = t6;
			var td7 = document.createElement('th');
			td7.innerHTML = t7;
			var td8 = document.createElement('th');
			td8.innerHTML = t8;
			th.appendChild(td1);
			th.appendChild(td2);
			th.appendChild(td3);
			th.appendChild(td4);
			th.appendChild(td5);
			th.appendChild(td6);
			th.appendChild(td7);
			th.appendChild(td8);
			return th;
			};


			</script>
      
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/request">Logo</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="/analysis">Records</a>
						</li>
						<li >
							 <a href="/analysis_shelf">Shelf</a><!--for store (On sales)-->
						</li>
						<li >
							 <a href="/analysis_books">Books</a><!--key word,Top10 bar chat for purchase(No this books) -->
						</li>
						<li>
							 <a href="/analysis_author">Author</a><!--for purchase(No this books)-->
						</li>
						<li>
							 <a href="/analysis_classification">Classification</a><!--for purchase(No this books)-->
						</li>
						<li>
							 <a>Download</a>
						</li>
						<!--<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Store Name<strong class="caret"></strong></a>
							 	
							<ul class="dropdown-menu">
								<li>
									 <a href="#">Action</a>
								</li>
								<li>
									 <a href="#">Another action</a>
								</li>
								<li>
									 <a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales Status<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">In Stock</a>
								</li>
								<li>
									 <a href="#">Out of Stock</a>
								</li>
								<li>
									 <a href="#">Reservation</a>
								</li>
								<li>
									 <a href="#">No this book</a>
								</li>
							</ul>
						</li>
						-->
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							 <a href="/query">Query</a>
						</li>
						
					</ul>
				</div>
				
			</nav>
			<div class="row clearfix">
				<div class="col-md-6">
					<select class="selectpicker" id="searchStore">
						<option value="0">Bookstore</option>
						<option value="1">SongYan</option>	
					</select>
					<select class="selectpicker" id="searchStatus" onchange="window.location.reload()">
						<option value="0">Status</option>
						<option value="1">On Sales</option>	
						<option value="2">Replenishment</option>	
						<option value="3">Reservation</option>	
						<option value="4">No this book</option>
					</select>
				</div>
				<div class="col-md-12 column" id="RecordForm">
					
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>